body{
  overflow-x: hidden;
}

* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  color: #3c403d;
}

.header {
  background-image: url(./img/header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

nav img{
  display: none;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  width: 90%;
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

.nav-mobile img{
  width: 48px;
}

.nav-mobile .icon-cerrar {
  display: none;
  margin-top: 5px;
  cursor: pointer;
}

.icon-cerrar--active {
  display: block !important;
}

.nav-item {
  position: absolute;
  color: white;
  width: 280px;
  top: 60px;
  right: 0;
  display: none;
}

.nav-item ul {
  list-style: none;
  padding: 0;
  font-size: 25px;
  margin-left: 50px;
  color: #3c403d;
}

.nav-item ul li {
  margin-top: 12px;
}

.active-img {
  display: none;
}

.nav-item--active {
  display: block;
}

.div-titulo {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 12px;
}

.div-titulo h1 {
  font-size: 50px;
}

.div-titulo p {
  font-size: 20px;
}

.div-titulo hr {
  background-color: #3c403d;
  width: 55px;
  height: 8px;
  margin: 0 auto;
}

/* main */
.latest-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #daded4;
  padding-bottom: 150px;
}

.latest-article h2 {
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 40px;
}

.latest-article hr {
  background-color: #3c403d;
  width: 55px;
  height: 4px;
  margin: 0 auto;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.cards {
  background-color: #fff;
  height: 416px;
  width: 288px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 208px;
  width: 80%;
  text-align: center;
}

.cards div p{
  margin-top: 16px;
  font-size: 19px;
  line-height: 30px;
}

.cards div hr{
  background-color: #3c403d;
  width: 55px;
  height: 1px;
  margin: 0 auto;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.about div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about img {
  width: 100%;
}

.about h2 {
  font-size: 40px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.about div p {
  margin: 28px 8px 28px 8px;
  line-height: 30px;
}

.about hr {
  background-color: #3c403d;
  width: 55px;
  height: 3px;
  margin: 0 auto;
}

.section-susbcribe {
  background-color: #daded4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section-susbcribe h2 {
  margin-top: 60px;
  font-size: 26px;
}

.section-susbcribe p {
  margin-top: 8px;
  font-size: 20px;
}

.section-susbcribe form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  width: 100%;
  margin-bottom: 60px;
}

.section-susbcribe form > input[type=text]{
  margin-top: 8px;
  width: 90%;
  border: none;
  background-color: #f1f6e9;
  height: 50px;
  padding-left: 25px;
  box-sizing: border-box;
}

.section-susbcribe form > input[type=button]{
  margin-top: 8px;
  width: 90%;
  border: 2px solid #3c403d;
  background-color: #daded4;
  height: 50px;
  box-sizing: border-box;
  letter-spacing: 8px;
  font-weight: 700;
  cursor: pointer;
}

footer {
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}

footer .icon-social img {
  width: 40px;
  cursor: pointer;
}

footer .information p{
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
}

@media ( width >= 800px) {
  nav img{
    display: block;
    width: 48px;
    margin-top: 5px;
  }

  .nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 24px;
    padding: 0;
  }

  .nav-desktop ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-weight: 600;
    color: #3c403d;
  }

  .nav-desktop ul li {
    cursor: pointer;
  }

  .nav-desktop ul li:nth-child(3) {
    border: 3px solid #3c403d;
    padding: 8px 12px 8px 12px;
  }

  .nav-mobile {
    display: none;
  }

  .div-titulo h1 {
    font-size: 100px;
  }

  .about {
    display: flex;
    flex-direction: row;
    height: 639px;
  }

  .about img {
    width: 50%;
  }

  .about div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .about div p {
    width: 70%;
  }

  .section-susbcribe h2 {
    margin-top: 100px;
  }

  .section-susbcribe form {
    margin-bottom: 80px;
  }

  .section-susbcribe form > input[type=text]{
    width: 400px;
  }

  .section-susbcribe form > input[type=button]{
    width: 150px;
    margin-top: 28px;
  }

  footer {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  footer .information {
    display: flex;
    gap: 60px;
  }

  footer .information p{
    margin-bottom: 0;
  }
  
}

